*.tfstate
*.tfstate.backup
.terraform/
secrets/
*.retry
*.log
*.pem
*.key
*.crt
vault.yml
packer/proxmox-ubuntu2404/variables.auto.pkrvars.hcl
terraform/homelab.tfvars
ansible/ansiblekey
terraform/proxmox/.terraform.lock.hcl